@import url('./fonts/material-symbols-outlined.css');
@import url('./fonts/roboto.css');
@import url('./fonts/montserrat.css');

:root {
    --md-ref-typeface-brand: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, sans-serif;
    --md-ref-typeface-plain: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, sans-serif;
    --md-icon-font: 'Material Symbols Outlined';
    --md-icon-size: 24px;
}

html, body {
    font-family: var(--md-ref-typeface-plain);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
