:is(.m3-search-container, .material-search-container)  {
    /* consolidated to w3c rules */
}

:is(.m3-search-container, .material-search-container) :is(md-outlined-text-field, .material-text-field) {
    height: 40px;
    --md-outlined-text-field-container-shape: var(--md-sys-shape-expressive-container);
    --md-outlined-text-field-top-space: 2px;
    --md-outlined-text-field-bottom-space: 2px;
    --md-outlined-text-field-leading-space: 14px;
    --md-outlined-text-field-trailing-space: 12px;
    --md-outlined-text-field-outline-color: var(--md-sys-color-outline-variant);
    --md-outlined-text-field-hover-outline-color: var(--md-sys-color-outline);
    --md-outlined-text-field-focus-outline-color: var(--md-sys-color-primary);
    --md-outlined-text-field-container-color: var(--md-sys-color-surface-container-high);
    border-radius: var(--md-sys-shape-expressive-container);
    transition: box-shadow var(--md-sys-motion-duration-short3) var(--md-sys-motion-easing-standard);
}

:is(.m3-search-container, .material-search-container) md-outlined-text-field:focus-within   {
    /* consolidated to w3c rules */
}

:is(.m3-search-container, .material-search-container) md-icon[slot="leading-icon"] {
    font-size: 20px;
    width: 20px;
    height: 20px;
}

:is(.m3-search-container, .material-search-container) [slot="trailing-icon"]  {
    /* consolidated to w3c rules */
}


