.m3-mode-toggle,
.mode-toggle {
    overflow: hidden;
    width: 46px;
    border-radius: var(--md-sys-shape-corner-full);
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
}

.m3-mode-toggle-figure,
.mode-toggle-figure {
    background: var(--md-sys-color-primary-container);
    height: 46px;
    margin: 0;
    grid-template-columns: repeat(3, 46px);
    grid-auto-flow: column;
    justify-items: center;
    align-content: center;
    box-sizing: border-box;
}

.m3-mode-toggle-icon,
.mode-toggle-icon {
    width: 30px;
    height: 30px;
    transition: grid-column 0.5s cubic-bezier(0.2, 0, 0, 1);
}

.m3-mode-toggle-figure > :nth-child(1),
.mode-toggle-figure > .mode-toggle-icon:nth-child(1) {
    stroke: var(--md-sys-color-on-primary-container);
    grid-column: -3 / -2;
}

.m3-mode-toggle-figure > :nth-child(2),
.mode-toggle-figure > .mode-toggle-icon:nth-child(2) {
    fill: var(--md-sys-color-on-surface);
    grid-column: -2 / -1;
}

#app.dark-mode .m3-mode-toggle-icon,
#app.dark-mode .mode-toggle-icon {
    grid-column: initial;
}


