:root, :root[data-theme="dark"], body.dark, [data-theme="dark"] {
  --md-sys-color-primary: rgb(112 220 188);
  --md-sys-color-surface-tint: rgb(112 220 188);
  --md-sys-color-on-primary: rgb(0 56 45);
  --md-sys-color-primary-container: rgb(0 81 67);
  --md-sys-color-on-primary-container: rgb(141 248 216);
  --md-sys-color-secondary: rgb(177 204 197);
  --md-sys-color-on-secondary: rgb(28 53 48);
  --md-sys-color-secondary-container: rgb(51 75 70);
  --md-sys-color-on-secondary-container: rgb(205 232 225);
  --md-sys-color-tertiary: rgb(171 202 229);
  --md-sys-color-on-tertiary: rgb(19 51 72);
  --md-sys-color-tertiary-container: rgb(44 74 96);
  --md-sys-color-on-tertiary-container: rgb(202 230 255);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(14 21 19);
  --md-sys-color-on-background: rgb(222 228 225);
  --md-sys-color-surface: rgb(14 21 19);
  --md-sys-color-on-surface: rgb(222 228 225);
  --md-sys-color-surface-variant: rgb(63 73 70);
  --md-sys-color-on-surface-variant: rgb(190 201 197);
  --md-sys-color-outline: rgb(137 147 143);
  --md-sys-color-outline-variant: rgb(63 73 70);
  --md-sys-color-neutral80: rgb(196 199 197);
  --md-sys-color-surface-1: rgb(23 29 27);
  --md-sys-color-surface-2: rgb(27 33 31);
  --md-sys-color-surface-3: rgb(37 43 41);
  --md-sys-color-surface-4: rgb(48 54 52);
  --md-sys-color-surface-5: rgb(52 59 57);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 228 225);
  --md-sys-color-inverse-on-surface: rgb(43 50 48);
  --md-sys-color-inverse-primary: rgb(1 107 93);
  --md-sys-color-primary-fixed: rgb(159 242 224);
  --md-sys-color-on-primary-fixed: rgb(0 32 27);
  --md-sys-color-primary-fixed-dim: rgb(131 213 196);
  --md-sys-color-on-primary-fixed-variant: rgb(0 80 70);
  --md-sys-color-secondary-fixed: rgb(205 232 225);
  --md-sys-color-on-secondary-fixed: rgb(6 32 27);
  --md-sys-color-secondary-fixed-dim: rgb(177 204 197);
  --md-sys-color-on-secondary-fixed-variant: rgb(51 75 70);
  --md-sys-color-tertiary-fixed: rgb(202 230 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 30 47);
  --md-sys-color-tertiary-fixed-dim: rgb(171 202 229);
  --md-sys-color-on-tertiary-fixed-variant: rgb(44 74 96);
  --md-sys-color-surface-dim: rgb(14 21 19);
  --md-sys-color-surface-bright: rgb(52 59 57);
  --md-sys-color-surface-container-lowest: rgb(9 15 14);
  --md-sys-color-surface-container-low: rgb(23 29 27);
  --md-sys-color-surface-container: rgb(27 33 31);
  --md-sys-color-surface-container-high: rgb(37 43 41);
  --md-sys-color-surface-container-highest: rgb(48 54 52);
}
