.dark-high-contrast {
  --md-sys-color-primary: rgb(177 255 238);
  --md-sys-color-surface-tint: rgb(131 213 196);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(127 210 193);
  --md-sys-color-on-primary-container: rgb(0 14 11);
  --md-sys-color-secondary: rgb(218 246 238);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(173 200 193);
  --md-sys-color-on-secondary-container: rgb(0 14 11);
  --md-sys-color-tertiary: rgb(228 242 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(168 198 225);
  --md-sys-color-on-tertiary-container: rgb(0 13 23);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(14 21 19);
  --md-sys-color-on-background: rgb(222 228 225);
  --md-sys-color-surface: rgb(14 21 19);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(63 73 70);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(232 242 238);
  --md-sys-color-outline-variant: rgb(187 197 193);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 228 225);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 82 71);
  --md-sys-color-primary-fixed: rgb(159 242 224);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(131 213 196);
  --md-sys-color-on-primary-fixed-variant: rgb(0 21 17);
  --md-sys-color-secondary-fixed: rgb(205 232 225);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(177 204 197);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 21 17);
  --md-sys-color-tertiary-fixed: rgb(202 230 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(171 202 229);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 19 32);
  --md-sys-color-surface-dim: rgb(14 21 19);
  --md-sys-color-surface-bright: rgb(75 81 79);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(27 33 31);
  --md-sys-color-surface-container: rgb(43 50 48);
  --md-sys-color-surface-container-high: rgb(54 61 59);
  --md-sys-color-surface-container-highest: rgb(66 72 70);
}
