/* ==========================================================================
   W3C CSS Layout - Strict Grid Rules Module
   100% CSS Grid Architecture (Strict Zero-Flexbox Standard)
   ========================================================================== */

.m3-grid {
    display: grid !important;
}

.m3-inline-grid {
    display: inline-grid !important;
}

.m3-grid-col-1 {
    grid-template-columns: minmax(0, 1fr) !important;
}

.m3-grid-col-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}

.m3-grid-col-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
}

.m3-grid-col-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
}

.m3-grid-auto-col {
    grid-auto-flow: column !important;
    grid-auto-columns: max-content !important;
}

.m3-grid-auto-row {
    grid-auto-flow: row !important;
    grid-auto-rows: max-content !important;
}
