/* ─── 5. LinkStack Component ──────────────────────────────────────── */
.link-stack,
section.link-stack {
    align-self: start;
    text-align: start;
    background: var(--md-sys-color-surface-container, var(--md-sys-color-surface));
    overflow: auto;
    font-size: .875rem;
}

@media screen and (max-width: 839.98px) {
    .link-stack,
    section.link-stack {
        grid-column: initial;
    }
}

.link-stack svg {
    width: 30px;
    height: 30px;
    stroke: var(--md-sys-color-on-surface);
    fill: var(--md-sys-color-on-surface);
}

.link-stack svg * {
    stroke: var(--md-sys-color-on-surface);
    fill: var(--md-sys-color-on-surface);
}

.link-stack a:hover,
.link-stack article:hover {
}

.link-stack a,
.link-stack article {
    border-radius: 0;
    padding: 1.5rem;
    justify-self: stretch;
    font-size: .9rem;
}

.link-stack a::before,
.link-stack article::before {
    content: "";
    background-color: var(--md-sys-color-secondary-container);
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.link-stack a:active::before,
.link-stack article:active::before {
    transform: translate(-50%, -50%);
    opacity: 1;
    height: 0;
    width: 0;
    transition: 0s;
}

.link-stack dl {
    gap: 0 2rem;
}


