/* ==========================================================================
   W3C CSS Content - Replaced Elements Rules Module
   Object Fit & Image Rendering Primitives
   ========================================================================== */

.m3-object-cover {
    object-fit: cover !important;
}

.m3-object-contain {
    object-fit: contain !important;
}

.m3-object-fill {
    object-fit: fill !important;
}
