html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overscroll-behavior: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.status-bar-safe-area {
    display: none;
}

@supports (-webkit-touch-callout: none) {
    .status-bar-safe-area {
        display: grid;
        position: sticky;
        top: 0;
        height: env(safe-area-inset-top);
        background-color: var(--md-sys-color-surface-container, #1e293b);
        width: 100%;
        z-index: 1000;
    }

    .navbar-brand {
        padding-left: env(safe-area-inset-left);
    }
}
